# Python
.venv/
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/
*.egg
.pytest_cache/
.mypy_cache/
.ruff_cache/
*.pyo
*.pyd
.ipynb_checkpoints/

# R
.Rproj.user/
.Rhistory
.RData
.Ruserdata
*.Rproj
renv/library/
renv/staging/
renv/sandbox/
extra_r_packages_for_sane/downloaded_r_packages/

# OS
.DS_Store
Thumbs.db
